{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".eslintrc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
